Package: com.jschiefner.advancedbrightnessslider
Name: AdvancedBrightnessSlider
Version: 0.1.1
Architecture: iphoneos-arm
Description: Tweak to dim the screen even further with the brightness slider in Control Center
Maintainer: Jonas Schiefner
Author: Jonas Schiefner
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
