name: Build

on: [push]

jobs:
  build:
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - name: Check cache
        id: verify-cache
        run: |
          echo "::set-output name=heads::`git ls-remote https://github.com/theos/theos | head -n 1 | cut -f 1`-`git ls-remote https://github.com/theos/sdks | head -n 1 | cut -f 1`"

      - name: Use cache
        id: cache
        uses: actions/cache@v3
        with:
          path: ${{ github.workspace }}/theos
          key: ${{ runner.os }}-${{ steps.verify-cache.outputs.heads }}

      - name: Setup Theos
        uses: Randomblock1/theos-action@v1.3

      - name: Build packages
        run: |
          version=$(sed -n 's/^Version: //p' control)
          mkdir finalpackages
          rm -f packages/*
          make package FINALPACKAGE=1
          mv packages/*.deb finalpackages/com.jschiefner.advancedbrightnessslider_${version}_rootful.deb
          make clean
          make package THEOS_PACKAGE_SCHEME=rootless FINALPACKAGE=1
          mv packages/*.deb finalpackages/com.jschiefner.advancedbrightnessslider_${version}_rootless.deb

      - name: Upload packages
        uses: actions/upload-artifact@v3
        with:
          name: 'Packages'
          path: ${{ github.workspace }}/finalpackages/*.deb
